html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 400;
}
#navbar {
    margin: 0;
    padding: 5px 0px;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1);
    display: flex;
}

#navbar ul {
    display: flex;
    margin: 10px 0 10px auto;
    width: 45%;
    justify-content: space-evenly; 
    list-style-type: none;
}
#navbar li a {
    color: black;
    text-decoration: none;
    margin-left: 3px;
    opacity: 0.7;
    font-size: 1.2rem;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}
#navbar li a:hover {
    color: lightgreen;
    opacity: 1;
    text-decoration: underline;
    transition: all 0.15s;
}
#intro-section {
    height: 220px;
    background-image: url("https://cdn.pixabay.com/photo/2017/02/05/00/19/web-design-2038872__340.jpg");
    background-size: cover;
}
#welcome-section {
    margin: 50px;
    display: flex;
    justify-content: center;
}
.message {
    display: flex;
    margin: 20px;
    width: 500px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    text-align: center;
}
.message img {
    max-width: 100%;
}

section {
    margin-top: 1rem;
    padding-top: 2rem;
}

.section-heading {
    font-size: 2rem;
    text-align: center;
}
.about-container {
    display: flex;
    justify-content: center;
}
div.my-information {
    display: block;
    font-size: 1.5rem;
    text-align: left;
}

#skills-section {
    background-color: black;
    color: white;
}
.skills-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.skill-information {
    padding: 2rem;
    text-align: center;
}
.skill-name {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}
.skill-information progress {
    border: 1px solid white;
}
.skill-information progress::-webkit-progress-value {
    background-color: white;
}
.skill-information progress::-webkit-progress-bar {
    background-color: black;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projects-container .image-box {
    margin: 5px;
}
.image-box a {
    text-decoration: none;
    text-align: center;
}
#contact-section {
    margin-top: 50px;
    padding: 50px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}
#contact-section a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}